<h2> 
  Dylan Ha 501056670 CPS530 Lab 10c: Angular
</h2>


<h3>
  this code uses Angular and HTML to create a simple website.
</h3>


<p> 
  I chose Angular due to it's popularity.
  I hosted it on my GitHub Pages website as it was free to use and I have already hosted my personal website on it. 
</p>

<h2> installing the angular framework</h2>
<p>
  i first had to install my CLI using the following code in the terminal: <br>
  <b>npm install -g @angular/cli</b>
  <br>
  To create a new angular app, I used the command <b> ng new 530angularsite </b> to create the folder and project.
  <br>
  I could now start my app using the command <b>npm start</b>, allowing me to test my app on <b>http://localhost:4200</b>. 
  <br>
  With my framework installed and page built, i could then write in my html file.
  <br>
  After i finished writing and styling my html file, I then uploaded it to github pages.
  <br> 
</p> 

<h2> challenges encountered</h2>
<p> As it was my first time working with web development frameworks, I initially struggled to understand how to actually create and navigate my 
  Angular Application, as well as some of the syntax. 
  Thankfully as this is a simple website, I quickly got the hang of it and produced the webpage. (yay!)
</p>

<img src="assets/yay.jpg" width="25%">
<br>
i give this lab.... 1 thumbs up!
<p> side note to my TA: thank you for your time this semester! 
  you always responded to my emails fast and provided me with the support i needed to succeed in this course :D</p> 

